.details {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-family:monospace;
    background-color: rgb(255 255 255 / 99%);
    margin-top: 5em;
    border-radius: 2em;
    margin-left: 20em;
    width: 50em;
    color: black;
    flex-wrap: nowrap;
    align-items: center;
}

.countryName{
    display: flex;
    margin-top: -15em;
    flex-direction: column;
}

.countryInfo{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}