.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.filters{
    display: flex;
    justify-content: space-between;
}
.filter{
    margin-left: 1em;
}

.homeTitle{
    margin-top: 3em;
}

.countries{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.pages{
    font-size: 0.7em;
}