#root{
    padding: 0em;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(46, 43, 43); 
    color: whitesmoke;
    padding: 0.2em 0;
    z-index:1000;
    display: flex;
    justify-content: space-between;
}
.titleNav{
    margin-left: 1em;
    display: flex;
    font-size: 0.8em;
}